.hero {
    text-align: center;
    padding: 0px 20px;
    background: #121212;
    color: white;
  }
  .hero div{
    height: 100px;
    text-align: center;
    align-items: center;
  }
  .hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  .hero h1::selection {
    background-color: #3ecf8e; /* 선택 시 배경색 */
    color: black; /* 선택 시 글자색 */
  }
  .hero p {
    font-size: 1.3rem;
    color: #3ecf8e;
  }
  .hero p::selection {
    background-color: #3ecf8e; 
    color: black; 
  }
  
  .hero-btn {
    background-color: #2fa774; 
    color: white;
    border: 2px solid transparent; 
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease transform 0.1s ease; 
  }
  
  .hero-btn:hover {
    background-color: #3ecf8e; 
    border: 2px solid #2fa774; 
    transform: scale(1.01); 
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
    animation: App-logo-spin infinite 20s linear; 
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  @media (max-width: 768px) {
    .hero h1 {
      font-size: 2.2rem;
      margin-bottom: 20px;
    }
    .hero ㅔ {
      font-size: 1.6rem;
      margin-bottom: 20px;
    }
  }