/* 기본 스타일 */
.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  padding: 15px;
  max-width: 100%;
  width: 100%;
  background-color: #121212;
  z-index: 100;
  box-sizing: border-box;
  top: 0;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: white;
}

.logo-image {
  width: 40px; 
  height: auto;
  margin-right: 10px;
}

.navbar {
  display: flex;
  align-items: center;
}

.navbar a {
  margin: 0 20px;
  text-decoration: none;
  font-weight: semi-bold;
  color: white;
}

.navbar a:hover {
  color: #3ecf8e;
}

.cta .login-btn {
  margin-right: 10px;
}

.signup-btn {
  background-color: #2fa774; 
  color: white;
  border: 2px solid transparent; 
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.1s ease;
  @media(max-width: 780px){
    display: none;
  }
}

.signup-btn:hover {
  background-color: #3ecf8e; 
  border: 2px solid #2fa774; 
  transform: scale(1.01);
}

.header-hr-container {
  position: fixed;
  top: 70px;
  width: 100%;
  z-index: 90;
  @media(max-width: 780px){
    top: 80px;
  }
}

.navbar-divider {
  border: none; 
  border-top: 2px solid #333;
  margin: 0; 
  width: 100%;
  opacity: 0.8; 
}
.menu-toggle {
  cursor: pointer;
  display: none;
}


/* 모바일 화면에서의 스타일 */
@media (max-width: 768px) {
  .navbar {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #121212;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
  }

  .navbar.open {
    display: flex;
  }

  .navbar a {
    margin: 20px 0;
    font-size: 1.5rem; 
  }

  .menu-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px; 
    height: 50px; 
    border: 2px solid transparent; 
    border-radius: 10px;
    transition: border 0.3s ease, background-color 0.3s ease;
    z-index: 101;
  }
  
  .menu-icon {
    width: 30px; 
    height: auto;
    display: block;
  }
  
  
  .menu-toggle:hover {
    background-color: #333;
  }
  
  .menu-toggle:active {
    border: 2px solid #3ecf8e; /* 클릭 시 테두리를 초록색으로 변경 */
    background-color: rgba(0, 0, 0, 0.1); /* 클릭 시 배경 살짝 어둡게 */
  }
}
